# Virtual Environment
myenv/
backend/myenv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Environment variables
.env

# Database
db.sqlite3

# Django stuff
*.log
media/

# Static files
staticfiles/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage

# node modules (if frontend later inside same project)
node_modules/